# LAB5

NAME= G.KAVYASRI
ROLL= CS20B1126

'''


1.Perform Fisher Discriminant Analysis on pima-indians-diabetes.csv

2. Perform Decision Tree classification on pima-indians-diabetes.csv

3. Perform Fisher Discriminant Analysis on pima-indians-diabetes.csv and then perform decision tree classification. compare the results.

colums in csv file is in this order;
Fields description follow:
A. preg = Number of times pregnant

B. plas = Plasma glucose concentration a 2 hours in an oral glucose tolerance test

C. pres = Diastolic blood pressure (mm Hg)

D. skin = Triceps skin fold thickness (mm)

E. test = 2-Hour serum insulin (mu U/ml)

F. mass = Body mass index (weight in kg/(height in m)^2)

g. pedi = Diabetes pedigree function

H. age = Age (years)

I. class = Class variable (1:tested positive for diabetes, 0: tested negative for diabetes)


'''

# Fisher Discriminant Analysis

1.Perform Fisher Discriminant Analysis on pima-indians-diabetes.csv

In [1125]:
import numpy as np
from numpy import linalg as LA
import pandas as pd
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split
from sklearn import metrics

In [1126]:
col_names=['preg','plas','pres','skin','test','mass','pedi','age','class']
pima=pd.read_csv("pima-indians-diabetes.csv",header=None,names=col_names)
pima

     preg  plas  pres  skin  test  mass   pedi  age  class
0       6   148    72    35     0  33.6  0.627   50      1
1       1    85    66    29     0  26.6  0.351   31      0
2       8   183    64     0     0  23.3  0.672   32      1
3       1    89    66    23    94  28.1  0.167   21      0
4       0   137    40    35   168  43.1  2.288   33      1
..    ...   ...   ...   ...   ...   ...    ...  ...    ...
763    10   101    76    48   180  32.9  0.171   63      0
764     2   122    70    27     0  36.8  0.340   27      0
765     5   121    72    23   112  26.2  0.245   30      0
766     1   126    60     0     0  30.1  0.349   47      1
767     1    93    70    31     0  30.4  0.315   23      0

[768 rows x 9 columns]

In [1127]:
pima.head()

   preg  plas  pres  skin  test  mass   pedi  age  class
0     6   148    72    35     0  33.6  0.627   50      1
1     1    85    66    29     0  26.6  0.351   31      0
2     8   183    64     0     0  23.3  0.672   32      1
3     1    89    66    23    94  28.1  0.167   21      0
4     0   137    40    35   168  43.1  2.288   33      1

In [1128]:
pima.groupby("class").size()

class
0    500
1    268
dtype: int64

In [1129]:

X=pima.drop('class',axis=1)
print(X)
print("\n")
y=pima['class']
print("y\n",y)

     preg  plas  pres  skin  test  mass   pedi  age
0       6   148    72    35     0  33.6  0.627   50
1       1    85    66    29     0  26.6  0.351   31
2       8   183    64     0     0  23.3  0.672   32
3       1    89    66    23    94  28.1  0.167   21
4       0   137    40    35   168  43.1  2.288   33
..    ...   ...   ...   ...   ...   ...    ...  ...
763    10   101    76    48   180  32.9  0.171   63
764     2   122    70    27     0  36.8  0.340   27
765     5   121    72    23   112  26.2  0.245   30
766     1   126    60     0     0  30.1  0.349   47
767     1    93    70    31     0  30.4  0.315   23

[768 rows x 8 columns]


y
 0      1
1      0
2      1
3      0
4      1
      ..
763    0
764    0
765    0
766    1
767    0
Name: class, Length: 768, dtype: int64

In [1130]:
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.4,random_state=2)

#With in-built 
from sklearn.discriminant_analysis import LinearDiscriminantAnalysis as LDA
clf=LDA(n_components =1)
clf=clf.fit(X_train,y_train)

y_pred=clf.predict(X_test)
lda=metrics.accuracy_score(y_test,y_pred)
print("Accuracy:",lda)

Accuracy: 0.7564935064935064

In [1131]:
from sklearn.metrics import classification_report
from sklearn.metrics import confusion_matrix
from sklearn.metrics import accuracy_score

In [1132]:
print("Accuracy Score is:")
print(accuracy_score(y_test,y_pred ))
print()

Accuracy Score is:
0.7564935064935064

In [1133]:
print("Classification Report:")
print(classification_report(y_test,y_pred))

Classification Report:
              precision    recall  f1-score   support

           0       0.79      0.87      0.83       205
           1       0.68      0.52      0.59       103

    accuracy                           0.76       308
   macro avg       0.73      0.70      0.71       308
weighted avg       0.75      0.76      0.75       308

In [1134]:

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.4, random_state=2)

In [1135]:
#Without in_built
#FDA

In [1136]:
df=pima.groupby('class')
class1=df.get_group(1)
print(class1)
print("\n")
class0=df.get_group(0)
print(class0)

p=class1.drop('class',axis=1)
n=class0.drop('class',axis=1)

     preg  plas  pres  skin  test  mass   pedi  age  class
0       6   148    72    35     0  33.6  0.627   50      1
2       8   183    64     0     0  23.3  0.672   32      1
4       0   137    40    35   168  43.1  2.288   33      1
6       3    78    50    32    88  31.0  0.248   26      1
8       2   197    70    45   543  30.5  0.158   53      1
..    ...   ...   ...   ...   ...   ...    ...  ...    ...
755     1   128    88    39   110  36.5  1.057   37      1
757     0   123    72     0     0  36.3  0.258   52      1
759     6   190    92     0     0  35.5  0.278   66      1
761     9   170    74    31     0  44.0  0.403   43      1
766     1   126    60     0     0  30.1  0.349   47      1

[268 rows x 9 columns]


     preg  plas  pres  skin  test  mass   pedi  age  class
1       1    85    66    29     0  26.6  0.351   31      0
3       1    89    66    23    94  28.1  0.167   21      0
5       5   116    74     0     0  25.6  0.201   30      0
7      10   115     0     0     0  35.3  0.134   29      0
10      4   110    92     0     0  37.6  0.191   30      0
..    ...   ...   ...   ...   ...   ...    ...  ...    ...
762     9    89    62     0     0  22.5  0.142   33      0
763    10   101    76    48   180  32.9  0.171   63      0
764     2   122    70    27     0  36.8  0.340   27      0
765     5   121    72    23   112  26.2  0.245   30      0
767     1    93    70    31     0  30.4  0.315   23      0

[500 rows x 9 columns]

In [1137]:
P=p.to_numpy()
N=n.to_numpy()
PMean = np.mean(P, 0)
NMean = np.mean(N, 0)

print("class1=",PMean)
print(NMean)

class1= [  4.86567164 141.25746269  70.82462687  22.1641791  100.3358209
  35.14253731   0.5505      37.06716418]
[  3.298    109.98      68.184     19.664     68.792     30.3042
   0.429734  31.19    ]

In [1138]:
#print(len(P))
S1 = (len(P) - 1) * np.cov(P.T)
S2 = (len(N) - 1) * np.cov(N.T)
SW = S1 + S2
print(SW) #Within-class scatter matriux

[[ 8.27976218e+03  2.14224866e+03  6.34527057e+03 -4.05102555e+03
  -3.05299184e+04 -9.63094457e+02 -6.17383660e+01  1.49371079e+04]
 [ 2.14224866e+03  6.13375035e+05  5.80179407e+04  8.78231164e+03
   7.64314748e+05  1.63385069e+04  4.56836840e+02  4.39232657e+04]
 [ 6.34527057e+03  5.80179407e+04  2.86137829e+05  4.79586284e+04
   1.37622920e+05  3.07554129e+04  1.47335972e+02  3.91116767e+04]
 [-4.05102555e+03  8.78231164e+03  4.79586284e+04  1.94090328e+05
   6.02125280e+05  3.57591340e+04  6.92946312e+02 -1.89630352e+04]
 [-3.05299184e+04  7.64314748e+05  1.37622920e+05  6.02125280e+05
   1.00130561e+07  1.11258608e+05  4.75547934e+03 -7.61752848e+04]
 [-9.63094457e+02  1.63385069e+04  3.07554129e+04  3.57591340e+04
   1.11258608e+05  4.35922363e+04  1.79850059e+02 -2.38406467e+03]
 [-6.17383660e+01  4.56836840e+02  1.47335972e+02  6.92946312e+02
   4.75547934e+03  1.79850059e+02  8.16555366e+01 -2.35367300e+01]
 [ 1.49371079e+04  4.39232657e+04  3.91116767e+04 -1.89630352e+04
  -7.61752848e+04 -2.38406467e+03 -2.35367300e+01  1.00051741e+05]]

In [1139]:
SB = (PMean - NMean).dot((PMean - NMean).T)
print(SB)

2046.9388601465055

In [1140]:
from numpy.linalg import inv
SW_inv=inv(SW)
print(SW_inv)

[[ 1.67794347e-04  9.05211346e-07 -8.18218374e-07 -7.32400704e-08
   2.01474187e-07  1.71029591e-06  1.01215229e-04 -2.49241238e-05]
 [ 9.05211346e-07  1.94501584e-06 -2.29584411e-07  5.61276312e-07
  -1.75254941e-07 -5.98039117e-07 -3.29376899e-06 -9.41344305e-07]
 [-8.18218374e-07 -2.29584411e-07  4.15763920e-06 -8.36343321e-07
   2.01467752e-08 -2.33376446e-06  3.76697211e-06 -1.60023634e-06]
 [-7.32400704e-08  5.61276312e-07 -8.36343321e-07  7.72345036e-06
  -4.20143657e-07 -4.69173433e-06 -3.21054073e-05  1.11608393e-06]
 [ 2.01474187e-07 -1.75254941e-07  2.01467752e-08 -4.20143657e-07
   1.40405783e-07  6.08511963e-08 -3.62984889e-06  6.68478468e-08]
 [ 1.71029591e-06 -5.98039117e-07 -2.33376446e-06 -4.69173433e-06
   6.08511963e-08  2.86563467e-05 -1.77781138e-05  7.55252989e-07]
 [ 1.01215229e-04 -3.29376899e-06  3.76697211e-06 -3.21054073e-05
  -3.62984889e-06 -1.77781138e-05  1.28515669e-02 -2.13863680e-05]
 [-2.49241238e-05 -9.41344305e-07 -1.60023634e-06  1.11608393e-06
   6.68478468e-08  7.55252989e-07 -2.13863680e-05  1.50300520e-05]]

In [1141]:
W = np.matmul(SW_inv, (PMean - NMean))
print(W)

[ 1.69385876e-04  4.86993432e-05 -1.91817129e-05  1.27105835e-06
 -1.48505184e-06  1.08943564e-04  1.21115472e-03  2.15632214e-05]

In [1142]:
P_proj=np.matmul(W,(P.T))
N_proj=np.matmul(W,(N.T))

#print(P_proj)
#print(N_proj)

In [1143]:
PMean_proj = np.matmul(W.T,PMean)
NMean_proj = np.matmul(W.T,NMean)
PNcutoff = 0.5*(PMean_proj + NMean_proj)
print("PMean_proj=",PMean_proj)
print("NMean_proj=",NMean_proj)
print("PNcutoff=",PNcutoff)

PMean_proj= 0.01151853351726184
NMean_proj= 0.009024015662736347
PNcutoff= 0.010271274589999093

In [1144]:
test = np.matmul(W.T,[3,75,64,20.5,0,27,0.145,35])
print("test value=",test)

test value= 0.006830841845618591

Compare test value with cutoff value.
Greater than cutoff value we got to one class,if less than cutoff we got to another classmean projection.
Here,in this case test value belongs to NMean ,since close to NMean value i.e...class0

# DECISION TREE CLASSIFICATION


#2.Perform Decision Tree classification on pima-indians-diabetes.csv

In [1145]:

from sklearn.tree import DecisionTreeClassifier

split dataset in features and target variables

Split dataset into training set and test set

In [1146]:
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.4,random_state=2)

clf=DecisionTreeClassifier(criterion="entropy",max_depth=1)
clf=clf.fit(X_train,y_train)

y_pred=clf.predict(X_test)

print("Accuracy:",metrics.accuracy_score(y_test,y_pred))

Accuracy: 0.7305194805194806

# Fisher Discriminant Analysis and Decision Tree Classification

#3.Perform Fisher Discriminant Analysis on pima-indians-diabetes.csv and then perform decision tree classification. compare the results.

In [1147]:
from sklearn.preprocessing import StandardScaler
scalar = StandardScaler()
X_train = scalar.fit_transform(X_train)
X_test = scalar.transform(X_test)

In [1148]:
lda = LDA(n_components=1)
X_train = lda.fit_transform(X_train, y_train.values.ravel())
X_test = lda.transform(X_test)

In [1149]:
# X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.4,random_state=2)
clf=DecisionTreeClassifier(criterion="entropy",max_depth=1)
clf=clf.fit(X_train,y_train)

y_pred=clf.predict(X_test)
acc=metrics.accuracy_score(y_test,y_pred)
print("Accuracy:",acc)

Accuracy: 0.7435064935064936

By comparing Accuracies of FDA and DecisionTree classifier ,FDA has more accuracy .
Decision tree accuracy increases after dimensionality reduction.